BUOI_02_NGUYENQUANGVINH/2/Benhvien.dtd

<!ELEMENT hospital (app:appointment+)>

<!ELEMENT app:appointment (pat:patient, doc:doctor)>
<!ATTLIST app:appointment
    id     CDATA #REQUIRED
    date   CDATA #REQUIRED
    status CDATA #REQUIRED>

<!ELEMENT pat:patient (pat:name, pat:dob)>
<!ATTLIST pat:patient
    id CDATA #REQUIRED>

<!ELEMENT pat:name (#PCDATA)>
<!ELEMENT pat:dob (#PCDATA)>

<!ELEMENT doc:doctor (doc:name, doc:specialty)>
<!ATTLIST doc:doctor
    id CDATA #REQUIRED>

<!ELEMENT doc:name (#PCDATA)>
<!ELEMENT doc:specialty (#PCDATA)>
