BUOI_04_NGUYENQUANGVINH/4,1/student_key.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="school">
    <xs:complexType>
        <xs:sequence>
        <!-- Danh sách sinh viên -->
        <xs:element name="student" maxOccurs="unbounded">
            <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="date" type="xs:date"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>

        <!-- Danh sách ghi danh -->
        <xs:element name="enrollment" maxOccurs="unbounded">
            <xs:complexType>
            <xs:sequence>
                <xs:element name="studentRef" type="xs:string"/>
                <xs:element name="course" type="xs:string"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Khóa chính: mỗi <student>/<id> phải duy nhất -->
    <xs:key name="StudentKey">
        <xs:selector xpath="student"/>
        <xs:field xpath="id"/>
    </xs:key>

    <!-- Khóa ngoại: <studentRef> phải tồn tại trong StudentKey -->
    <xs:keyref name="EnrollmentStudentRef" refer="StudentKey">
        <xs:selector xpath="enrollment"/>
        <xs:field xpath="studentRef"/>
    </xs:keyref>
    </xs:element>
</xs:schema>